<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>ipdb</param-name>
        <param-value>132.248.32.18</param-value>
        <!--132.248.32.62-->
        <!-- <param-value>132.248.32.18</param-value>-->
    </context-param>
    <context-param>
        <param-name>usuariodb</param-name>
        <param-value>cigom_u2</param-value>
        <!--<param-value>cigom_u2</param-value>-->
    </context-param>
    <context-param>
        <param-name>dbname</param-name>
        <param-value>cigomdb</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <!-- <param-value>CigomWeb2016</param-value>-->
        <!--<param-value>CigomWeb2017Remote</param-value>-->
        <param-value>CigomDB17</param-value>
    </context-param>
    <context-param>
        <description>
            <!--/home/blast/querys/-->
        </description>
        <param-name>blastdir</param-name>
        <!--<param-value> C:/Users/Alejandro/Documents/Projects/pemex/</param-value>-->
        <!-- C:/Users/app/ -->
        <!--/home/blast/querys/-->
        <param-value>/data/blast/querys/</param-value>
    </context-param>
    <context-param>
        <param-name>blastdbs</param-name>
        <!-- <param-value>C:/Users/Alejandro/Documents/Projects/GCT3NG/blast/</param-value>-->
        <!--Para jose C:/Users/app/ -->
        <!--/home/blast/blastdb/-->
        <param-value>/data/blast/blastdb/</param-value>
    </context-param>
    <context-param>
        <param-name>jobOutFile</param-name>
        <param-value>out.txt</param-value>
    </context-param>
    <context-param>
        <param-name>blastn</param-name>
        <!--<param-value>/opt/ncbi-blast-2.2.30+/bin/blastn</param-value> -->
        <!--<param-value>blastn</param-value> -->
        <param-value>/data/blast/ncbi-blast-2.5.0+/bin/blastn</param-value>
    </context-param>
    <context-param>
        <param-name>blastp</param-name>
        <!--  <param-value>/opt/ncbi-blast-2.2.30+/bin/blastp</param-value>  -->
        <!-- <param-value>blastp</param-value>-->
        <param-value>/data/blast/ncbi-blast-2.5.0+/bin/blastp</param-value>
    </context-param>
    <context-param>
        <param-name>scriptDir</param-name>
        <!-- <param-value>C:/Users/Alejandro/Documents/Projects/pemex/R/web/</param-value>-->
        <param-value>/data/R/</param-value>
    </context-param>
    <context-param>
        <param-name>execR</param-name>
        <!--  <param-value>/opt/ncbi-blast-2.2.30+/bin/blastp</param-value>  -->
        <param-value>Rscript</param-value>
        <!--<param-value>c:/Program Files/R/R-3.0.3/bin/Rscript </param-value>-->
    </context-param>
    <context-param>
        <param-name>blastx</param-name>
        <!-- <param-value>/opt/ncbi-blast-2.2.30+/bin/blastx</param-value>  -->
        <!--<param-value>blastx</param-value> -->
        <param-value>/data/blast/ncbi-blast-2.5.0+/bin/blastx</param-value>
    </context-param>
    <context-param>
        <param-name>clustalw2</param-name>
        <param-value>/data/blast/clustalw-2.1-linux-x86_64-libcppstatic/clustalw2</param-value>
    </context-param>
    <servlet>
        <servlet-name>BlastController</servlet-name>
        <servlet-class>controller.BlastController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SequenceController</servlet-name>
        <servlet-class>controller.SequenceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuestraController</servlet-name>
        <servlet-class>controller.MuestraController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaxaController</servlet-name>
        <servlet-class>controller.TaxaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscadores</servlet-name>
        <servlet-class>controller.BuscadoresController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcadorController</servlet-name>
        <servlet-class>controller.MarcadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenomeController</servlet-name>
        <servlet-class>controller.GenomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstacionController</servlet-name>
        <servlet-class>controller.EstacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MetagenomeController</servlet-name>
        <servlet-class>controller.MetagenomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenController</servlet-name>
        <servlet-class>controller.GenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KronaController</servlet-name>
        <servlet-class>controller.KronaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListasController</servlet-name>
        <servlet-class>controller.ListasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MetabolismoController</servlet-name>
        <servlet-class>controller.MetabolismoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SequenceController</servlet-name>
        <url-pattern>/getSequence</url-pattern>
        <url-pattern>/serveFile</url-pattern>
        <url-pattern>/getSequenceTaxo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlastController</servlet-name>
        <url-pattern>/blast</url-pattern>
        <url-pattern>/deleteJob</url-pattern>
        <url-pattern>/blastSearch</url-pattern>
        <url-pattern>/showJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/log</url-pattern>
        <url-pattern>/homeCamp</url-pattern>
        <url-pattern>/actualizaT</url-pattern>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuestraController</servlet-name>
        <url-pattern>/showMuestra</url-pattern>
        <url-pattern>/MuestraController</url-pattern>
        <url-pattern>/showAmplicon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscadores</servlet-name>
        <url-pattern>/buscadores</url-pattern>
        <url-pattern>/buscaPalabra</url-pattern>
        <url-pattern>/detallesBusqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcadorController</servlet-name>
        <url-pattern>/showMarcador</url-pattern>
        <url-pattern>/kronaAmp</url-pattern>
        <url-pattern>/kronaAmp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenomeController</servlet-name>
        <url-pattern>/showGenoma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MetagenomeController</servlet-name>
        <url-pattern>/showMetagenoma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaxaController</servlet-name>
        <url-pattern>/matrizFactory</url-pattern>
        <url-pattern>/taxonomia</url-pattern>
        <url-pattern>/downloadTaxaTable</url-pattern>
        <url-pattern>/degradadores</url-pattern>
        <url-pattern>/searchTaxa</url-pattern>
        <url-pattern>/creaMatriz</url-pattern>
        <url-pattern>/matrices</url-pattern>
        <url-pattern>/agregaTaxon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KronaController</servlet-name>
        <url-pattern>/showKrona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListasController</servlet-name>
        <url-pattern>/ListasController</url-pattern>
        <url-pattern>/showLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstacionController</servlet-name>
        <url-pattern>/showEstacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenController</servlet-name>
        <url-pattern>/showMaqueta</url-pattern>
        <url-pattern>/GenController</url-pattern>
        <url-pattern>/showGen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MetabolismoController</servlet-name>
        <url-pattern>/enzimas</url-pattern>
        <url-pattern>/nivel2</url-pattern>
        <url-pattern>/generarImagen</url-pattern>
        <url-pattern>/generarVia</url-pattern>
        <url-pattern>/metabolismo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
